# Create List

#### 1. use brackets

##### 1.1 Homogenous list

A list of <b>same types</b> of elements, <b>for example</b> : my_list = ['apple', 'orange', 'banana']

In [1]:
my_list_empty = [] # create an empty list another way is my_list_empty = list().

In [2]:
my_list_integers = [-2, -1, 0, 1, 2, 3, 4, 5] # create a list of integers.

In [3]:
my_list_doubles = [-1123.3223 ,-600.0 ,-1 ,-0.3 ,-0.0032 ,0.0 ,0.04 ,3.14 ,123.0 ,9000.0]

In [4]:
my_list_booleans = [True, False, True, True, False, False] # creat a list of booleans.

In [5]:
my_list_strings = ['Jim', 'Sunday', 'Sara', 'Rocket', 'AppLE', 'RED', '1','True','-1.0'] # create a list of Strings.

In [6]:
# create a list of lists.
my_list_of_lists = [[1,2], [1,2,3], [4,5,6],['Sara', 'Jim']]

In [7]:
# create a list of tuples.
my_list_of_tuples = [('Police', True), ('Thief', False), ('Tuesday','workday'),('Sunday','holiday')]

In [8]:
# create a list of dictionaris.
# the first element is an empty dict.
my_list_of_dictionaries = [{},{0: 'red', 1: 'blue', 2: 'green' }, {'Jim':'+2234531', 'Sara':'+9933351'}]

In [9]:
# create a list of functions.
def function1():
    print('function1 called!')
    
def function2():
    print('function2 called!')

def function3():
    print('function3 called!')

# create a list of functions.
my_list_functions = [function1, function2, function3]

# we can call them sequentially.
for f in my_list_functions:
    f()

function1 called!
function2 called!
function3 called!

In [57]:
# create a list of classes.
class Class1:
    pass

class Class2:
    pass

class Class3:
    pass

# create to store our classes in the list
list_classes = [Class1, Class2, Class3]
for EachClass in list_classes:
    print(EachClass)

# we can create objects from these list
    # 1. use list comprehensions to create objects
list_objects = [EachClass() for EachClass in list_classes]

    # 2. use for loop to create objects
for EachClass in list_classes:
    print(EachClass())

    # 3. use just Class2
my_object_from_Class2 = list_classes[1]()  # first select the class and after that call the constructor with ().
print(my_object_from_Class2)

<class '__main__.Class1'>
<class '__main__.Class2'>
<class '__main__.Class3'>
<__main__.Class1 object at 0x000002437FA2B250>
<__main__.Class2 object at 0x000002437FA2B250>
<__main__.Class3 object at 0x000002437FA2B250>
<__main__.Class2 object at 0x000002437F9EA1D0>

##### 1.2 Heterogeneous List

A list of <b>different types</b> of elements, <b>for example</b> :  my_list = [0, None, True, 'Jim']

In [11]:
# a list of all objects 
list_of_all_objects = [None, False, True, 1, -0.1, 'Sara', [1,2],(1,2), {}, set() ,function1, Class2, function1(), Class3()]
for element in list_of_all_objects:
    print(element,'->',type(element))

function1 called!
None -> <class 'NoneType'>
False -> <class 'bool'>
True -> <class 'bool'>
1 -> <class 'int'>
-0.1 -> <class 'float'>
Sara -> <class 'str'>
[1, 2] -> <class 'list'>
(1, 2) -> <class 'tuple'>
{} -> <class 'dict'>
set() -> <class 'set'>
<function function1 at 0x000002437FA30310> -> <class 'function'>
<class '__main__.Class2'> -> <class 'type'>
None -> <class 'NoneType'>
<__main__.Class3 object at 0x000002437FA2B670> -> <class '__main__.Class3'>

#### 2. list constructor

In [12]:
my_list = list() # create an empty list like my_list = []

In [13]:
my_list = list([1,2,3,4]) # you should put iterable in paranthesis : a list

In [14]:
my_list = list((1,2,3)) # you should put iterable in paranthesis : a tuple

In [15]:
my_list = list({1,2,3,4}) # you should put iterable in paranthesis : a set

In [16]:
# if put dictionary, the list will be created of the KEYS 
my_list = list({0: 'red', 1: 'blue', 2: 'green' }) # you should put iterable in paranthesis : a dictionary
print(my_list)

[0, 1, 2]

#### 3. list comprehensions

In [17]:
my_list = [x for x in range(13)]
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [18]:
my_list = [x for x in range(-10,13)]
print(my_list)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [19]:
my_list_of_even_numbers = [x for x in range(0,20,2)]
print(my_list_of_even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
my_list_of_odd_numbers = [x for x in range(1,20,2)]
print(my_list_of_odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
# create a list from another list
my_list = [1,2,3,4,5]
list_squares = [x**2 for x in my_list]
print(list_squares)

[1, 4, 9, 16, 25]

In [22]:
# create a list by filtering another list : v1
my_list = [1, 2, 3, 4, 5, 6, 7]
filtered_list = [x for x in my_list if x%2==0]
print(filtered_list)

[2, 4, 6]

In [23]:
# create a list by filtering another list : v2
my_list = ["A", "B", "C", "A", "C", "C", "A"]
filtered_list = [x for x in my_list if x=="A"]
print(filtered_list)

['A', 'A', 'A']

In [24]:
# create a list by filtering another list : v3
my_list = ["A", "B", "C", "A", "C", "C", "A"]
filtered_list = [x for x in my_list if x in ["A", "C"]]
print(filtered_list)

['A', 'C', 'A', 'C', 'C', 'A']

In [25]:
# create a list of lISTS [x,y] BY combining two lists
names = ['Jim', 'Sara', 'Harry']
cars = ["Mercedes Benz", "BMW", 'Lamborgini']
list_of_all_combinations = [[x,y] for x in names for y in cars]
print(list_of_all_combinations)

[['Jim', 'Mercedes Benz'], ['Jim', 'BMW'], ['Jim', 'Lamborgini'], ['Sara', 'Mercedes Benz'], ['Sara', 'BMW'], ['Sara', 'Lamborgini'], ['Harry', 'Mercedes Benz'], ['Harry', 'BMW'], ['Harry', 'Lamborgini']]

In [26]:
# create a list of TUPLES (x,y) BY combining two lists 
names = ['Jim', 'Sara', 'Harry']
cars = ["Mercedes Benz", "BMW", 'Lamborgini']
list_of_all_combinations = [(x,y) for x in names for y in cars]
print(list_of_all_combinations)

[('Jim', 'Mercedes Benz'), ('Jim', 'BMW'), ('Jim', 'Lamborgini'), ('Sara', 'Mercedes Benz'), ('Sara', 'BMW'), ('Sara', 'Lamborgini'), ('Harry', 'Mercedes Benz'), ('Harry', 'BMW'), ('Harry', 'Lamborgini')]

In [27]:
# create a list of SETS set({x,y}) BY combining two lists 
names = ['Jim', 'Sara', 'Harry']
cars = ["Mercedes Benz", "BMW", 'Lamborgini']
list_of_all_combinations = [set({x,y}) for x in names for y in cars]
print(list_of_all_combinations)

[{'Jim', 'Mercedes Benz'}, {'BMW', 'Jim'}, {'Jim', 'Lamborgini'}, {'Sara', 'Mercedes Benz'}, {'BMW', 'Sara'}, {'Sara', 'Lamborgini'}, {'Mercedes Benz', 'Harry'}, {'BMW', 'Harry'}, {'Lamborgini', 'Harry'}]

#### 4. concatenation +

In [28]:
new_list = [1, 2, 3] + [0, 0, 0]
print(new_list)

[1, 2, 3, 0, 0, 0]

In [29]:
new_list = [0, 0, 0] + [1, 2, 3]
print(new_list)

[0, 0, 0, 1, 2, 3]

In [56]:
names = ['Jim', 'Sara', 'Martin']
please_add_these_names = ['Harry', 'Chris']
new_names = names + please_add_these_names
print(new_names)

['Jim', 'Sara', 'Martin', 'Harry', 'Chris']

#### 5. multiplication *

In [ ]:
zeros = [0] * 3 # It's like [0] + [0] + [0]
print(zeros)

In [ ]:
ones = [1] * 10 # It's like [1] + [1] + [1] + ... + [1] (10 times)
print(ones)

In [ ]:
# A simple function to specify the length of list for zeros
def zeros(length):
    return [0] * length

# A simple function to specify the length of list for ones
def ones(length):
    return [1] * length

print(zeros(7))
print(ones(13))

#### 6. using slice keyword

In [43]:
# add elements to the end of the list : my_list[len(my_list):]
my_list = [1, 2, 3, 4]
my_list[len(my_list):] = ['added_in_the_end']
print(my_list)

[1, 2, 3, 4, 'added_in_the_end']

In [44]:
# add element at the start of list : mylist[0:0]
my_list[0:0] = ['added_at_start']
print(my_list)

['added_at_start', 1, 2, 3, 4, 'added_in_the_end']

In [45]:
# add element at the specified position of the list my_list[i:i] which i is the index of position
my_list[2:2] = ['this_added_at_third_place']
print(my_list)

['added_at_start', 1, 'this_added_at_third_place', 2, 3, 4, 'added_in_the_end']

In [50]:
my_list = [1,2,3,4,5,6,7,8,9,10]
new_list = my_list[5:8] # create a new list of elements at positions 5, 6, 7 of the my_list
print(new_list)

[6, 7, 8]

In [55]:
# make a list of the last element of list
new_list = my_list[len(my_list)-1:]
print(new_list)
# or 
new_list = my_list[-1:]
print(new_list)

[10]
[10]